@model _2016_17_S_CC6001NI_14046931_Kiran_Shahi.Models.SESSION_STAFF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SESSION_STAFF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STAFF.STAFF_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAFF.STAFF_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SESSION.REF_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SESSION.REF_NO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SESSION_STAFF_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
